@for (team of teams(); track team.publicKey) {
<p>
  {{ team.poule }}:
  <span role="button" tabindex="0" (click)="clicked(team.publicKey)" (keydown.enter)="clicked(team.publicKey)"
    (keydown.space)="clicked(team.publicKey)">
    {{ team.name }}</span>
</p>
}

<br />
{{
selectedTeam().publicKey === null ? 'No team selected' : 'Selected team: ' + selectedTeam().name
}}
<br />Sorting:
<button type="button" [attr.aria-label]="'Sort field: ' + sortField"
  (click)="sortField = sortField === 'name' ? 'poule' : 'name'">
  {{ sortField }}
</button>

<button type="button" [attr.aria-label]="'Sort direction: ' + (sortDirection ?? 'none')"
  (click)="sortDirection = sortDirection === 'asc' ? 'desc' : 'asc'">
  {{ sortDirection ?? 'none' }}
</button>
<button type="button" [attr.aria-label]="'Execute'"
  (click)="sort.emit({ key: sortField, direction: sortDirection })">Go</button>
